
.profile {
  height: 400px;
  background-color: #bf790f;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display:flex;
  flex-direction: column; 
  justify-content: center;
  
}

.image {
  height: 10em;
  width: 10em;
  margin: auto;
  
}

.name {
  color: #FFFFFF;
  text-align: center;
}
