
.new-tweet {
  width:100%;
}

.topForm {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin-top: 20px;
}

.bottomForm {
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
}
.tweetTitle{
  color: #4056a1;
  text-align: center;
  font-family:'Source Sans Pro';
  font-weight:bold;
}
label {
  color: #9489e8;
}
button {
  background-color: #007bff;
  color: #FFFFFF;
  font-family: 'bungee';
  
}

#counter {
  font-family:'Source Sans Pro', sans-serif;
  font-weight:bold;
}
textarea {
  width:100%;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  outline: none;

}

#counter.red{
  color: red;
}
