.tweet-container {
  margin-top: 30px;
  border: double;
}

.tweet-container:hover{
  box-shadow: 5px 10px #888888;
}

.tweet-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user {
  overflow: hidden;
  display: flex;
  margin-left: 20px;
}

.avatar {
  margin: 24px 10px;
  width:30px;
  height:30px
}

.message {
  overflow: hidden;
  margin-left: 20px;
  margin-right:20px;
}

.handle {
  display: none;
}

.tweet-container:hover .handle {
  margin-right: 30px;
  display: block;
  text-align: right;
  color: #9489e8;
}

.tweet-foot {
  width: 95%;
  height: 50px;
  border: 5px solid rgba(78, 80, 76, 0.514);
  border-left: none;
  border-right: none;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: auto;
}

.date {
  font-size: 80%;
  margin:0;
  height: 25px;
  overflow:hidden;
}

.ticons {
  height: 80%;
  color: #5d9ef1;
  overflow: hidden;
}

.ticons i:hover {
  font-size: larger;
  color: #5d9ef1;
  overflow: hidden;
}

